# Site settings
title: Travelogue
email: your-email@domain.com

baseurl: '' # the subpath of your site, e.g. /blog/
url: 'http://yourdomain.com' # the base hostname & protocol for your site

# Build settings
markdown:            kramdown
relative_permalinks: false
permalink:           :title/

pagination:          true
paginate:            8
paginate_path:       page/:num/

sass:
    sass_dir: _sass
    style:    compressed

defaults:
  -
      scope:
        path: "_posts"
        type: "posts"
      values:
        reading_time: true
        show_tags: true
        show_categories: true
