---
layout: default
home: true
---

<div class="home">
    <ul class="post-list">
        {% if site.pagination %}
        {% assign source = paginator.posts %}
        {% else %}
        {% assign source = site.posts %}
        {% endif %}

        {% for post in source %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
                <div class="post-list-info">
                    <h2 class="post-list-title">{{ post.title }}</h2>
                    <span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                </div>
            </a>

            <img src="{{ post.thumb }}" class="post-list-thumb" />
        </li>
        {% endfor %}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
    <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            Subscribe via RSS
            <i class="icon ion-social-rss"></i>
        </a>
    </p> -->
</div>
